---
layout: default
---
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/Severed-Fates-Companion/assets/css/styles.css">
    </head>

    <div>
        <div class="pagecontent">
        <h1 class="compTitle">{{page.title}}</h1>
        {{ content }}
        </div>
    </div>

    <script>
        var toggler = document.getElementsByClassName("caret");
        var i;

        for (i = 0; i < toggler.length; i++) 
        {
            toggler[i].addEventListener("click", function() 
            {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        }

        document.getElementById("compnav").style.display = "block";
        document.getElementById("navhr").style.display = "block";
    </script>
</html>